openapi: 3.0.3
info:
  title: Dropbox API Reference
  description: "The powerful, yet simple, Dropbox API allows you to manage and control\
    \ content and team settings programmatically and extend Dropbox capabilities in\
    \ new and powerful ways. This is a collection that includes requests to all endpoints\
    \ in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints:\
    \ User Endpoints and Business Endpoints. Operations that would most likely be\
    \ executed by a user, such as file operations, are in the User Endpoints folder.\
    \ Operations that would most likely be executed by a team administrator, such\
    \ as adding users to groups, live in the Business Endpoints folder. \n\nIf you\
    \ are new to Dropbox Business and Team Administration, please have a look at the\
    \ [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide).\
    \ \n\nIf you want more information on how to use our API please refer to our [Developer\
    \ Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\
    \nThe endpoints are organized in the following folders:\n* account\n* auth\n*\
    \ check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n\
    * team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\n\
    Dropbox uses OAuth 2.0, an open specification, to authorize access to data. To\
    \ get an OAuth token from Dropbox to enable Postman to access your Dropbox account\
    \ via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating\
    \ an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps\
    \ and select “Create app” \n1. Choose an API  \n2. Choose the type of access you\
    \ need \n3. Give your app a name  \n4. Choose the Dropbox account that will own\
    \ your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide)\
    \ \n\n## Generating an Access Token\nOnce you select “Create app” a page will\
    \ load that displays information about your newly created app. To generate an\
    \ access token scroll down to “OAuth 2” and click “Generate” beneath “Generated\
    \ access token.” The token will display as a long string of characters. Copy this\
    \ token for use with the Postman Collection.\n\n## Adding an Access Token to the\
    \ requests\nIn the Postman client, click on the three dots to the right of the\
    \ collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\
    \nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for\
    \ the `access_token` variable, paste your access token in the `CURRENT VALUE`\
    \ column. The default value is `your-access-token-here`.\n\n![Screenshot of adding\
    \ access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\
    \nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\
    \n# Notes\n* Dropbox also has a Postman Collection in the API Network to help\
    \ administrators with team management workflows. It is called [Dropbox Team Admin\
    \ Workflows](). \n\n"
  contact: {}
  version: 1.0.0
servers:
- url: https://api.dropboxapi.com/2
- url: https://content.dropboxapi.com/2
- url: https://notify.dropboxapi.com/2
security:
- bearerAuth: []
tags:
- name: account
- name: auth
- name: check
- name: contacts
- name: file_properties
  description: |
    This namespace contains helpers for property and template metadata endpoints.

    These endpoints enable you to tag arbitrary key/value data to Dropbox files.

    The most basic unit in this namespace is the :type:`PropertyField`. These fields encapsulate the actual key/value data.

    Fields are added to a Dropbox file using a :type:`PropertyGroup`. Property groups contain a reference to a Dropbox file and a :type:`PropertyGroupTemplate`. Property groups are uniquely identified by the combination of their associated Dropbox file and template.

    The :type:`PropertyGroupTemplate` is a way of restricting the possible key names and value types of the data within a property group. The possible key names and value types are explicitly enumerated using :type:`PropertyFieldTemplate` objects.

    You can think of a property group template as a class definition for a particular key/value metadata object, and the property groups themselves as the instantiations of these objects.

    Templates are owned either by a user/app pair or team/app pair. Templates and their associated properties can't be accessed by any app other than the app that created them, and even then, only when the app is linked with the owner of the template (either a user or team).

    User-owned templates are accessed via the user-auth file_properties/templates/*_for_user endpoints, while team-owned templates are accessed via the team-auth file_properties/templates/*_for_team endpoints. Properties associated with either type of template can be accessed via the user-auth properties/* endpoints.

    Finally, properties can be accessed from a number of endpoints that return metadata, including `files/get_metadata`, and `files/list_folder`. Properties can also be added during upload, using `files/upload`.
- name: file_requests
  description: |
    This namespace contains endpoints and data types for file request operations.
- name: files
  description: |
    This namespace contains endpoints and data types for basic file operations.
- name: sharing
  description: |
    This namespace contains endpoints and data types for creating and managing shared links and shared folders.
- name: team
- name: devices
- name: groups
- name: legal_holds
- name: linked_apps
- name: member_space_limits
- name: members
- name: namespaces
- name: reports
- name: team_folder
- name: team_log
- name: users
  description: |
    This namespace contains endpoints and data types for user management.
paths:
  /account/set_profile_photo:
    post:
      tags:
      - account
      summary: set_profile_photo
      description: |-
        [set_profile_photo](https://www.dropbox.com/developers/documentation/http/documentation#account-set_profile_photo)

        scope: `account_info.write`

        Sets a user's profile photo.
      operationId: setProfilePhoto
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProfilePhotoArg'
            examples:
              set_profile_photo:
                value:
                  photo:
                    ".tag": base64_data
                    base64_data: SW1hZ2UgZGF0YSBpbiBiYXNlNjQtZW5jb2RlZCBieXRlcy4gTm90IGEgdmFsaWQgZXhhbXBsZS4=
      responses:
        "200":
          description: set_profile_photo response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetProfilePhotoResult'
              examples:
                set_profile_photo response:
                  value:
                    profile_photo_url: https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128
  /auth/token/from_oauth1:
    post:
      tags:
      - auth
      summary: token/from_oauth1
      description: |-
        [token/from_oauth1](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-from_oauth1)

        scope: `None`

        Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.
      operationId: tokenFromOauth1
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenFromOauth1Arg'
            examples:
              token/from_oauth1:
                value:
                  oauth1_token: qievr8hamyg6ndck
                  oauth1_token_secret: qomoftv0472git7
      responses:
        "200":
          description: token/from_oauth1 response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenFromOauth1Result'
              examples:
                token/from_oauth1 response:
                  value:
                    oauth2_token: 9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn
  /auth/token/revoke:
    post:
      tags:
      - auth
      summary: token/revoke
      description: |-
        [token/revoke](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-revoke)

        scope: `None`

        Disables the access token used to authenticate the call.
      operationId: tokenRevoke
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: ""
  /check/app:
    post:
      tags:
      - check
      summary: app
      description: |-
        [app](https://www.dropbox.com/developers/documentation/http/documentation#check-app)

        scope: `None`

        This endpoint performs App Authentication, validating the supplied app key and secret, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the app key and secret valid.
      operationId: app
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
            examples:
              app:
                value:
                  query: foo
      responses:
        "200":
          description: app response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
              examples:
                app response:
                  value:
                    result: foo
  /check/user:
    post:
      tags:
      - check
      summary: user
      description: |-
        [user](https://www.dropbox.com/developers/documentation/http/documentation#check-user)

        scope: `None`

        This endpoint performs User Authentication, validating the supplied access token, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the access token is valid.
      operationId: user
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchoArg'
            examples:
              user:
                value:
                  query: foo
      responses:
        "200":
          description: user response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResult'
              examples:
                user response:
                  value:
                    result: foo
  /contacts/delete_manual_contacts:
    post:
      tags:
      - contacts
      summary: delete_manual_contacts
      description: |-
        [delete_manual_contacts](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts)

        scope: `contacts.write`

        Removes all manually added contacts. You'll still keep contacts who are on your team or who you imported. New contacts will be added when you share.
      operationId: deleteManualContacts
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: ""
  /contacts/delete_manual_contacts_batch:
    post:
      tags:
      - contacts
      summary: delete_manual_contacts_batch
      description: |-
        [delete_manual_contacts_batch](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts_batch)

        scope: `contacts.write`

        Removes manually added contacts from the given list.
      operationId: deleteManualContactsBatch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteManualContactsArg'
            examples:
              delete_manual_contacts_batch:
                value:
                  email_addresses:
                  - contactemailaddress1@domain.com
                  - contactemailaddress2@domain.com
      responses:
        "200":
          description: ""
  /file_properties/properties/add:
    post:
      tags:
      - file_properties
      summary: properties/add
      description: |-
        [properties/add](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-add)

        scope: `files.metadata.write`

        Add property groups to a Dropbox file. See `templates/add_for_user` or `templates/add_for_team` to create new templates.
      operationId: propertiesAdd
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPropertiesArg'
            examples:
              properties/add:
                value:
                  path: /my_awesome/word.docx
                  property_groups:
                  - fields:
                    - name: Security Policy
                      value: Confidential
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
  /file_properties/properties/overwrite:
    post:
      tags:
      - file_properties
      summary: properties/overwrite
      description: |-
        [properties/overwrite](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-overwrite)

        scope: `files.metadata.write`

        Overwrite property groups associated with a file. This endpoint should be used instead of `properties/update` when property groups are being updated via a "snapshot" instead of via a "delta". In other words, this endpoint will delete all omitted fields from a property group, whereas `properties/update` will only delete fields that are explicitly marked for deletion.
      operationId: propertiesOverwrite
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverwritePropertyGroupArg'
            examples:
              properties/overwrite:
                value:
                  path: /my_awesome/word.docx
                  property_groups:
                  - fields:
                    - name: Security Policy
                      value: Confidential
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
  /file_properties/properties/remove:
    post:
      tags:
      - file_properties
      summary: properties/remove
      description: |-
        [properties/remove](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-remove)

        scope: `files.metadata.write`

        Permanently removes the specified property group from the file. To remove specific property field key value pairs, see `properties/update`. To update a template, see `templates/update_for_user` or `templates/update_for_team`. To remove a template, see `templates/remove_for_user` or `templates/remove_for_team`.
      operationId: propertiesRemove
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePropertiesArg'
            examples:
              properties/remove:
                value:
                  path: /my_awesome/word.docx
                  property_template_ids:
                  - ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
  /file_properties/properties/search:
    post:
      tags:
      - file_properties
      summary: properties/search
      description: |-
        [properties/search](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search)

        scope: `files.metadata.read`

        Search across property templates for particular property field values.
      operationId: propertiesSearch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesSearchArg'
            examples:
              properties/search:
                value:
                  queries:
                  - logical_operator: or_operator
                    mode:
                      ".tag": field_name
                      field_name: Security
                    query: Confidential
                  template_filter: filter_none
      responses:
        "200":
          description: properties/search response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchResult'
              examples:
                properties/search response:
                  value:
                    matches:
                    - id: id:a4ayc_80_OEAAAAAAAAAXz
                      is_deleted: false
                      path: /my_awesome/word.docx
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /file_properties/properties/search/continue:
    post:
      tags:
      - file_properties
      summary: properties/search/continue
      description: |-
        [properties/search/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search-continue)

        scope: `files.metadata.read`

        Once a cursor has been retrieved from `properties/search`, use this to paginate through all search results.
      operationId: propertiesSearchContinue
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesSearchContinueArg'
            examples:
              properties/search/continue:
                value:
                  cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
      responses:
        "200":
          description: properties/search/continue response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesSearchResult'
              examples:
                properties/search/continue response:
                  value:
                    matches:
                    - id: id:a4ayc_80_OEAAAAAAAAAXz
                      is_deleted: false
                      path: /my_awesome/word.docx
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /file_properties/properties/update:
    post:
      tags:
      - file_properties
      summary: properties/update
      description: |-
        [properties/update](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-update)

        scope: `files.metadata.write`

        Add, update or remove properties associated with the supplied file and templates. This endpoint should be used instead of `properties/overwrite` when property groups are being updated via a "delta" instead of via a "snapshot" . In other words, this endpoint will not delete any omitted fields from a property group, whereas `properties/overwrite` will delete any fields that are omitted from a property group.
      operationId: propertiesUpdate
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertiesArg'
            examples:
              properties/update:
                value:
                  path: /my_awesome/word.docx
                  update_property_groups:
                  - add_or_update_fields:
                    - name: Security Policy
                      value: Confidential
                    remove_fields: []
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
  /file_properties/templates/add_for_team:
    post:
      tags:
      - file_properties
      summary: templates/add_for_team
      description: |-
        [templates/add_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-add_for_team)

        scope: `files.team_metadata.write`

        Add a template associated with a team. See `properties/add` to add properties to a file or folder.
        Note: this endpoint will create team-owned templates.
      operationId: templatesAddForTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTemplateArg'
            examples:
              templates/add_for_team:
                value:
                  description: These properties describe how confidential this file
                    or folder is.
                  fields:
                  - description: |-
                      This is the security policy of the file or folder described.
                      Policies can be Confidential, Public or Internal.
                    name: Security Policy
                    type: string
                  name: Security
      responses:
        "200":
          description: templates/add_for_team response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTemplateResult'
              examples:
                templates/add_for_team response:
                  value:
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      security:
      - bearerAuth: []
  /file_properties/templates/add_for_user:
    post:
      tags:
      - file_properties
      summary: templates/add_for_user
      description: |-
        [templates/add_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-add_for_user)

        scope: `files.metadata.write`

        Add a template associated with a user. See `properties/add` to add properties to a file. This endpoint can't be called on a team member or admin's behalf.
      operationId: templatesAddForUser
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTemplateArg'
            examples:
              templates/add_for_user:
                value:
                  description: These properties describe how confidential this file
                    or folder is.
                  fields:
                  - description: |-
                      This is the security policy of the file or folder described.
                      Policies can be Confidential, Public or Internal.
                    name: Security Policy
                    type: string
                  name: Security
      responses:
        "200":
          description: templates/add_for_user response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTemplateResult'
              examples:
                templates/add_for_user response:
                  value:
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /file_properties/templates/get_for_team:
    post:
      tags:
      - file_properties
      summary: templates/get_for_team
      description: |-
        [templates/get_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-get_for_team)

        scope: `files.team_metadata.write`

        Get the schema for a specified template.
      operationId: templatesGetForTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTemplateArg'
            examples:
              templates/get_for_team:
                value:
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: templates/get_for_team response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplateResult'
              examples:
                templates/get_for_team response:
                  value:
                    description: These properties describe how confidential this file
                      or folder is.
                    fields:
                    - description: |-
                        This is the security policy of the file or folder described.
                        Policies can be Confidential, Public or Internal.
                      name: Security Policy
                      type:
                        ".tag": string
                    name: Security
      security:
      - bearerAuth: []
  /file_properties/templates/get_for_user:
    post:
      tags:
      - file_properties
      summary: templates/get_for_user
      description: |-
        [templates/get_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-get_for_user)

        scope: `files.metadata.read`

        Get the schema for a specified template. This endpoint can't be called on a team member or admin's behalf.
      operationId: templatesGetForUser
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTemplateArg'
            examples:
              templates/get_for_user:
                value:
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: templates/get_for_user response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplateResult'
              examples:
                templates/get_for_user response:
                  value:
                    description: These properties describe how confidential this file
                      or folder is.
                    fields:
                    - description: |-
                        This is the security policy of the file or folder described.
                        Policies can be Confidential, Public or Internal.
                      name: Security Policy
                      type:
                        ".tag": string
                    name: Security
  /file_properties/templates/list_for_team:
    post:
      tags:
      - file_properties
      summary: templates/list_for_team
      description: |-
        [templates/list_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-list_for_team)

        scope: `files.team_metadata.write`

        Get the template identifiers for a team. To get the schema of each template use `templates/get_for_team`.
      operationId: templatesListForTeam
      responses:
        "200":
          description: templates/list_for_team response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplateResult'
              examples:
                templates/list_for_team response:
                  value:
                    template_ids:
                    - ptid:1a5n2i6d3OYEAAAAAAAAAYa
      security:
      - bearerAuth: []
  /file_properties/templates/list_for_user:
    post:
      tags:
      - file_properties
      summary: templates/list_for_user
      description: |-
        [templates/list_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-list_for_user)

        scope: `files.metadata.read`

        Get the template identifiers for a team. To get the schema of each template use `templates/get_for_user`. This endpoint can't be called on a team member or admin's behalf.
      operationId: templatesListForUser
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: templates/list_for_user response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplateResult'
              examples:
                templates/list_for_user response:
                  value:
                    template_ids:
                    - ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /file_properties/templates/remove_for_team:
    post:
      tags:
      - file_properties
      summary: templates/remove_for_team
      description: |-
        [templates/remove_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-remove_for_team)

        scope: `files.team_metadata.write`

        Permanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.
      operationId: templatesRemoveForTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTemplateArg'
            examples:
              templates/remove_for_team:
                value:
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
      security:
      - bearerAuth: []
  /file_properties/templates/remove_for_user:
    post:
      tags:
      - file_properties
      summary: templates/remove_for_user
      description: |-
        [templates/remove_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-remove_for_user)

        scope: `files.metadata.write`

        Permanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.
      operationId: templatesRemoveForUser
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateId'
            examples:
              templates/remove_for_user:
                value:
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: ""
  /file_properties/templates/update_for_team:
    post:
      tags:
      - file_properties
      summary: templates/update_for_team
      description: |-
        [templates/update_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-update_for_team)

        scope: `files.team_metadata.write`

        Update a template associated with a team. This route can update the template name, the template description and add optional properties to templates.
      operationId: templatesUpdateForTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateArg'
            examples:
              templates/update_for_team:
                value:
                  add_fields:
                  - description: |-
                      This is the security policy of the file or folder described.
                      Policies can be Confidential, Public or Internal.
                    name: Security Policy
                    type: string
                  description: These properties will describe how confidential this
                    file or folder is.
                  name: New Security Template Name
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: templates/update_for_team response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateId'
              examples:
                templates/update_for_team response:
                  value:
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      security:
      - bearerAuth: []
  /file_properties/templates/update_for_user:
    post:
      tags:
      - file_properties
      summary: templates/update_for_user
      description: |-
        [templates/update_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-update_for_user)

        scope: `files.metadata.write`

        Update a template associated with a user. This route can update the template name, the template description and add optional properties to templates. This endpoint can't be called on a team member or admin's behalf.
      operationId: templatesUpdateForUser
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateArg'
            examples:
              templates/update_for_user:
                value:
                  add_fields:
                  - description: |-
                      This is the security policy of the file or folder described.
                      Policies can be Confidential, Public or Internal.
                    name: Security Policy
                    type: string
                  description: These properties will describe how confidential this
                    file or folder is.
                  name: New Security Template Name
                  template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
      responses:
        "200":
          description: templates/update_for_user response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateId'
              examples:
                templates/update_for_user response:
                  value:
                    template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /file_requests/count:
    post:
      tags:
      - file_requests
      summary: count
      description: |-
        [count](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-count)

        scope: `file_requests.read`

        Returns the total number of file requests owned by this user. Includes both open and closed file requests.
      operationId: count
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: count response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountFileRequestsResult'
              examples:
                count response:
                  value:
                    file_request_count: 15
  /file_requests/create:
    post:
      tags:
      - file_requests
      summary: create
      description: |-
        [create](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-create)

        scope: `file_requests.write`

        Creates a file request for this user.
      operationId: create
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileRequestArgs'
            examples:
              create:
                value:
                  deadline:
                    allow_late_uploads: seven_days
                    deadline: 2020-10-12T17:00:00Z
                  destination: /File Requests/Homework
                  open: true
                  title: Homework submission
      responses:
        "200":
          description: create response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
              examples:
                create response:
                  value:
                    created: 2015-10-05T17:00:00Z
                    deadline:
                      allow_late_uploads:
                        ".tag": seven_days
                      deadline: 2020-10-12T17:00:00Z
                    destination: /File Requests/Homework
                    file_count: 3
                    id: oaCAVmEyrqYnkZX9955Y
                    is_open: true
                    title: Homework submission
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
  /file_requests/delete:
    post:
      tags:
      - file_requests
      summary: delete
      description: |-
        [delete](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete)

        scope: `file_requests.write`

        Delete a batch of closed file requests.
      operationId: delete
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteFileRequestArgs'
            examples:
              delete:
                value:
                  ids:
                  - oaCAVmEyrqYnkZX9955Y
                  - BaZmehYoXMPtaRmfTbSG
      responses:
        "200":
          description: delete response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestsResult'
              examples:
                delete response:
                  value:
                    file_requests:
                    - created: 2015-10-05T17:00:00Z
                      deadline:
                        allow_late_uploads:
                          ".tag": seven_days
                        deadline: 2020-10-12T17:00:00Z
                      destination: /File Requests/Homework
                      file_count: 3
                      id: oaCAVmEyrqYnkZX9955Y
                      is_open: true
                      title: Homework submission
                      url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    - created: 2015-11-02T04:00:00Z
                      deadline:
                        deadline: 2020-10-12T17:00:00Z
                      destination: /Photo contest entries
                      file_count: 105
                      id: BAJ7IrRGicQKGToykQdB
                      is_open: true
                      title: Photo contest submission
                      url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    - created: 2015-12-15T13:02:00Z
                      destination: /Wedding photos
                      file_count: 37
                      id: rxwMPvK3ATTa0VxOJu5T
                      is_open: true
                      title: Wedding photo submission
                      url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
  /file_requests/delete_all_closed:
    post:
      tags:
      - file_requests
      summary: delete_all_closed
      description: |-
        [delete_all_closed](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete_all_closed)

        scope: `file_requests.write`

        Delete all closed file requests owned by this user.
      operationId: deleteAllClosed
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: delete_all_closed response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileRequestsResult'
              examples:
                delete_all_closed response:
                  value:
                    file_requests:
                    - created: 2015-10-05T17:00:00Z
                      deadline:
                        allow_late_uploads:
                          ".tag": seven_days
                        deadline: 2020-10-12T17:00:00Z
                      destination: /File Requests/Homework
                      file_count: 3
                      id: oaCAVmEyrqYnkZX9955Y
                      is_open: true
                      title: Homework submission
                      url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    - created: 2015-11-02T04:00:00Z
                      deadline:
                        deadline: 2020-10-12T17:00:00Z
                      destination: /Photo contest entries
                      file_count: 105
                      id: BAJ7IrRGicQKGToykQdB
                      is_open: true
                      title: Photo contest submission
                      url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    - created: 2015-12-15T13:02:00Z
                      destination: /Wedding photos
                      file_count: 37
                      id: rxwMPvK3ATTa0VxOJu5T
                      is_open: true
                      title: Wedding photo submission
                      url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
  /file_requests/get:
    post:
      tags:
      - file_requests
      summary: get
      description: |-
        [get](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-get)

        scope: `file_requests.read`

        Returns the specified file request.
      operationId: get
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileRequestArgs'
            examples:
              get:
                value:
                  id: oaCAVmEyrqYnkZX9955Y
      responses:
        "200":
          description: get response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
              examples:
                get response:
                  value:
                    created: 2015-10-05T17:00:00Z
                    deadline:
                      allow_late_uploads:
                        ".tag": seven_days
                      deadline: 2020-10-12T17:00:00Z
                    destination: /File Requests/Homework
                    file_count: 3
                    id: oaCAVmEyrqYnkZX9955Y
                    is_open: true
                    title: Homework submission
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
  /file_requests/list_v2:
    post:
      tags:
      - file_requests
      summary: list
      description: |-
        [list](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list)

        scope: `file_requests.read`

        Returns a list of file requests owned by this user. For apps with the app folder permission, this will only return file requests with destinations in the app folder.
      operationId: list
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsArg'
            examples:
              list:
                value:
                  limit: 1000
      responses:
        "200":
          description: list response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
              examples:
                list response:
                  value:
                    cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                    file_requests:
                    - created: 2015-10-05T17:00:00Z
                      deadline:
                        allow_late_uploads:
                          ".tag": seven_days
                        deadline: 2020-10-12T17:00:00Z
                      destination: /File Requests/Homework
                      file_count: 3
                      id: oaCAVmEyrqYnkZX9955Y
                      is_open: true
                      title: Homework submission
                      url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    - created: 2015-11-02T04:00:00Z
                      deadline:
                        deadline: 2020-10-12T17:00:00Z
                      destination: /Photo contest entries
                      file_count: 105
                      id: BAJ7IrRGicQKGToykQdB
                      is_open: true
                      title: Photo contest submission
                      url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    - created: 2015-12-15T13:02:00Z
                      destination: /Wedding photos
                      file_count: 37
                      id: rxwMPvK3ATTa0VxOJu5T
                      is_open: true
                      title: Wedding photo submission
                      url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    has_more: true
  /file_requests/list/continue:
    post:
      tags:
      - file_requests
      summary: list/continue
      description: |-
        [list/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list-continue)

        scope: `file_requests.read`

        Once a cursor has been retrieved from `list:2`, use this to paginate through all file requests. The cursor must come from a previous call to `list:2` or `list/continue`.
      operationId: listContinue
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFileRequestsContinueArg'
            examples:
              list/continue:
                value:
                  cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
      responses:
        "200":
          description: list/continue response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileRequestsV2Result'
              examples:
                list/continue response:
                  value:
                    cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                    file_requests:
                    - created: 2015-10-05T17:00:00Z
                      deadline:
                        allow_late_uploads:
                          ".tag": seven_days
                        deadline: 2020-10-12T17:00:00Z
                      destination: /File Requests/Homework
                      file_count: 3
                      id: oaCAVmEyrqYnkZX9955Y
                      is_open: true
                      title: Homework submission
                      url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    - created: 2015-11-02T04:00:00Z
                      deadline:
                        deadline: 2020-10-12T17:00:00Z
                      destination: /Photo contest entries
                      file_count: 105
                      id: BAJ7IrRGicQKGToykQdB
                      is_open: true
                      title: Photo contest submission
                      url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    - created: 2015-12-15T13:02:00Z
                      destination: /Wedding photos
                      file_count: 37
                      id: rxwMPvK3ATTa0VxOJu5T
                      is_open: true
                      title: Wedding photo submission
                      url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    has_more: true
  /file_requests/update:
    post:
      tags:
      - file_requests
      summary: update
      description: |-
        [update](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-update)

        scope: `file_requests.write`

        Update a file request.
      operationId: update
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileRequestArgs'
            examples:
              update:
                value:
                  deadline:
                    ".tag": update
                    allow_late_uploads: seven_days
                    deadline: 2020-10-12T17:00:00Z
                  destination: /File Requests/Homework
                  id: oaCAVmEyrqYnkZX9955Y
                  open: true
                  title: Homework submission
      responses:
        "200":
          description: update response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
              examples:
                update response:
                  value:
                    created: 2015-10-05T17:00:00Z
                    deadline:
                      allow_late_uploads:
                        ".tag": seven_days
                      deadline: 2020-10-12T17:00:00Z
                    destination: /File Requests/Homework
                    file_count: 3
                    id: oaCAVmEyrqYnkZX9955Y
                    is_open: true
                    title: Homework submission
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
  /files/copy_v2:
    post:
      tags:
      - files
      summary: copy
      description: |-
        [copy](https://www.dropbox.com/developers/documentation/http/documentation#files-copy)

        scope: `files.content.write`

        Copy a file or folder to a different location in the user's Dropbox.
        If the source path is a folder all its contents will be copied.
      operationId: copy
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationArg'
            examples:
              copy:
                value:
                  allow_ownership_transfer: false
                  allow_shared_folder: false
                  autorename: false
                  from_path: /Homework/math
                  to_path: /Homework/algebra
      responses:
        "200":
          description: copy response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResult'
              examples:
                copy response:
                  value:
                    metadata:
                      ".tag": file
                      client_modified: 2015-05-12T15:50:38Z
                      content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        created: 2015-05-12T15:50:38Z
                        is_lockholder: true
                        lockholder_name: Imaginary User
                      has_explicit_shared_members: false
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      is_downloadable: true
                      name: Prime_Numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      path_lower: /homework/math/prime_numbers.txt
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      rev: a1c10ce0dd78
                      server_modified: 2015-05-12T15:50:38Z
                      sharing_info:
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        parent_shared_folder_id: "84528192421"
                        read_only: true
                      size: 7212
  /files/copy_batch_v2:
    post:
      tags:
      - files
      summary: copy_batch
      description: |-
        [copy_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch)

        scope: `files.content.write`

        Copy multiple files or folders to different locations at once in the user's Dropbox.
        This route will replace `copy_batch:1`. The main difference is this route will return status for each entry, while `copy_batch:1` raises failure if any entry fails.
        This route will either finish synchronously, or return a job ID and do the async copy job in background. Please use `copy_batch/check:2` to check the job status.
      operationId: copyBatch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationBatchArgBase'
            examples:
              copy_batch:
                value:
                  autorename: false
                  entries:
                  - from_path: /Homework/math
                    to_path: /Homework/algebra
      responses:
        "200":
          description: copy_batch response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchV2Result'
              examples:
                copy_batch response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      success:
                        ".tag": file
                        client_modified: 2015-05-12T15:50:38Z
                        content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        file_lock_info:
                          created: 2015-05-12T15:50:38Z
                          is_lockholder: true
                          lockholder_name: Imaginary User
                        has_explicit_shared_members: false
                        id: id:a4ayc_80_OEAAAAAAAAAXw
                        is_downloadable: true
                        name: Prime_Numbers.txt
                        path_display: /Homework/math/Prime_Numbers.txt
                        path_lower: /homework/math/prime_numbers.txt
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        rev: a1c10ce0dd78
                        server_modified: 2015-05-12T15:50:38Z
                        sharing_info:
                          modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          parent_shared_folder_id: "84528192421"
                          read_only: true
                        size: 7212
  /files/copy_batch/check_v2:
    post:
      tags:
      - files
      summary: copy_batch/check
      description: |-
        [copy_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch-check)

        scope: `files.content.write`

        Returns the status of an asynchronous job for `copy_batch:2`. It returns list of results for each entry.
      operationId: copyBatchCheck
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollArg'
            examples:
              copy_batch/check:
                value:
                  async_job_id: 34g93hh34h04y384084
      responses:
        "200":
          description: copy_batch/check response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationBatchV2Result'
              examples:
                copy_batch/check response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      success:
                        ".tag": file
                        client_modified: 2015-05-12T15:50:38Z
                        content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        file_lock_info:
                          created: 2015-05-12T15:50:38Z
                          is_lockholder: true
                          lockholder_name: Imaginary User
                        has_explicit_shared_members: false
                        id: id:a4ayc_80_OEAAAAAAAAAXw
                        is_downloadable: true
                        name: Prime_Numbers.txt
                        path_display: /Homework/math/Prime_Numbers.txt
                        path_lower: /homework/math/prime_numbers.txt
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        rev: a1c10ce0dd78
                        server_modified: 2015-05-12T15:50:38Z
                        sharing_info:
                          modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          parent_shared_folder_id: "84528192421"
                          read_only: true
                        size: 7212
  /files/copy_reference/get:
    post:
      tags:
      - files
      summary: copy_reference/get
      description: |-
        [copy_reference/get](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-get)

        scope: `files.content.write`

        Get a copy reference to a file or folder. This reference string can be used to save that file or folder to another user's Dropbox by passing it to `copy_reference/save`.
      operationId: copyReferenceGet
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCopyReferenceArg'
            examples:
              copy_reference/get:
                value:
                  path: /video.mp4
      responses:
        "200":
          description: copy_reference/get response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCopyReferenceResult'
              examples:
                copy_reference/get response:
                  value:
                    copy_reference: z1X6ATl6aWtzOGq0c3g5Ng
                    expires: 2045-05-12T15:50:38Z
                    metadata:
                      ".tag": file
                      client_modified: 2015-05-12T15:50:38Z
                      content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        created: 2015-05-12T15:50:38Z
                        is_lockholder: true
                        lockholder_name: Imaginary User
                      has_explicit_shared_members: false
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      is_downloadable: true
                      name: Prime_Numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      path_lower: /homework/math/prime_numbers.txt
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      rev: a1c10ce0dd78
                      server_modified: 2015-05-12T15:50:38Z
                      sharing_info:
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        parent_shared_folder_id: "84528192421"
                        read_only: true
                      size: 7212
  /files/copy_reference/save:
    post:
      tags:
      - files
      summary: copy_reference/save
      description: |-
        [copy_reference/save](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-save)

        scope: `files.content.write`

        Save a copy reference returned by `copy_reference/get` to the user's Dropbox.
      operationId: copyReferenceSave
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCopyReferenceArg'
            examples:
              copy_reference/save:
                value:
                  copy_reference: z1X6ATl6aWtzOGq0c3g5Ng
                  path: /video.mp4
      responses:
        "200":
          description: copy_reference/save response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResult'
              examples:
                copy_reference/save response:
                  value:
                    metadata:
                      ".tag": file
                      client_modified: 2015-05-12T15:50:38Z
                      content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        created: 2015-05-12T15:50:38Z
                        is_lockholder: true
                        lockholder_name: Imaginary User
                      has_explicit_shared_members: false
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      is_downloadable: true
                      name: Prime_Numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      path_lower: /homework/math/prime_numbers.txt
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      rev: a1c10ce0dd78
                      server_modified: 2015-05-12T15:50:38Z
                      sharing_info:
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        parent_shared_folder_id: "84528192421"
                        read_only: true
                      size: 7212
  /files/create_folder_v2:
    post:
      tags:
      - files
      summary: create_folder
      description: |-
        [create_folder](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder)

        scope: `files.content.write`

        Create a folder at a given path.
      operationId: createFolder
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderArg'
            examples:
              create_folder:
                value:
                  autorename: false
                  path: /Homework/math
      responses:
        "200":
          description: create_folder response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderMetadataResponse'
              examples:
                create_folder response:
                  value:
                    metadata:
                      id: id:a4ayc_80_OEAAAAAAAAAXz
                      name: math
                      path_display: /Homework/math
                      path_lower: /homework/math
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      sharing_info:
                        no_access: false
                        parent_shared_folder_id: "84528192421"
                        read_only: false
                        traverse_only: false
  /files/create_folder_batch:
    post:
      tags:
      - files
      summary: create_folder_batch
      description: |-
        [create_folder_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch)

        scope: `files.content.write`

        Create multiple folders at once.
        This route is asynchronous for large batches, which returns a job ID immediately and runs the create folder batch asynchronously. Otherwise, creates the folders and returns the result synchronously for smaller inputs. You can force asynchronous behaviour by using the `CreateFolderBatchArg.force_async` flag.  Use `create_folder_batch/check` to check the job status.
      operationId: createFolderBatch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderBatchArg'
            examples:
              create_folder_batch:
                value:
                  autorename: false
                  force_async: false
                  paths:
                  - /Homework/math
      responses:
        "200":
          description: create_folder_batch response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderBatchResult'
              examples:
                create_folder_batch response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      metadata:
                        id: id:a4ayc_80_OEAAAAAAAAAXz
                        name: math
                        path_display: /Homework/math
                        path_lower: /homework/math
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        sharing_info:
                          no_access: false
                          parent_shared_folder_id: "84528192421"
                          read_only: false
                          traverse_only: false
  /files/create_folder_batch/check:
    post:
      tags:
      - files
      summary: create_folder_batch/check
      description: |-
        [create_folder_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch-check)

        scope: `files.content.write`

        Returns the status of an asynchronous job for `create_folder_batch`. If success, it returns list of result for each entry.
      operationId: createFolderBatchCheck
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollArg'
            examples:
              create_folder_batch/check:
                value:
                  async_job_id: 34g93hh34h04y384084
      responses:
        "200":
          description: create_folder_batch/check response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderBatchResult'
              examples:
                create_folder_batch/check response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      metadata:
                        id: id:a4ayc_80_OEAAAAAAAAAXz
                        name: math
                        path_display: /Homework/math
                        path_lower: /homework/math
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        sharing_info:
                          no_access: false
                          parent_shared_folder_id: "84528192421"
                          read_only: false
                          traverse_only: false
  /files/delete_v2:
    post:
      tags:
      - files
      summary: delete
      description: |-
        [delete](https://www.dropbox.com/developers/documentation/http/documentation#files-delete)

        scope: `files.content.write`

        Delete the file or folder at a given path.
        If the path is a folder, all its contents will be deleted too.
        A successful response indicates that the file or folder was deleted. The returned metadata will be the corresponding `FileMetadata` or `FolderMetadata` for the item at time of deletion, and not a `DeletedMetadata` object.
      operationId: delete1
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteArg'
            examples:
              delete:
                value:
                  path: /Homework/math/Prime_Numbers.txt
      responses:
        "200":
          description: delete response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResult'
              examples:
                delete response:
                  value:
                    metadata:
                      ".tag": file
                      client_modified: 2015-05-12T15:50:38Z
                      content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        created: 2015-05-12T15:50:38Z
                        is_lockholder: true
                        lockholder_name: Imaginary User
                      has_explicit_shared_members: false
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      is_downloadable: true
                      name: Prime_Numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      path_lower: /homework/math/prime_numbers.txt
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      rev: a1c10ce0dd78
                      server_modified: 2015-05-12T15:50:38Z
                      sharing_info:
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        parent_shared_folder_id: "84528192421"
                        read_only: true
                      size: 7212
  /files/delete_batch:
    post:
      tags:
      - files
      summary: delete_batch
      description: |-
        [delete_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch)

        scope: `files.content.write`

        Delete multiple files/folders at once.
        This route is asynchronous, which returns a job ID immediately and runs the delete batch asynchronously. Use `delete_batch/check` to check the job status.
      operationId: deleteBatch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBatchArg'
            examples:
              delete_batch:
                value:
                  entries:
                  - path: /Homework/math/Prime_Numbers.txt
      responses:
        "200":
          description: delete_batch response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBatchResult'
              examples:
                delete_batch response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      metadata:
                        ".tag": file
                        client_modified: 2015-05-12T15:50:38Z
                        content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        file_lock_info:
                          created: 2015-05-12T15:50:38Z
                          is_lockholder: true
                          lockholder_name: Imaginary User
                        has_explicit_shared_members: false
                        id: id:a4ayc_80_OEAAAAAAAAAXw
                        is_downloadable: true
                        name: Prime_Numbers.txt
                        path_display: /Homework/math/Prime_Numbers.txt
                        path_lower: /homework/math/prime_numbers.txt
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        rev: a1c10ce0dd78
                        server_modified: 2015-05-12T15:50:38Z
                        sharing_info:
                          modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          parent_shared_folder_id: "84528192421"
                          read_only: true
                        size: 7212
  /files/delete_batch/check:
    post:
      tags:
      - files
      summary: delete_batch/check
      description: |-
        [delete_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch-check)

        scope: `files.content.write`

        Returns the status of an asynchronous job for `delete_batch`. If success, it returns list of result for each entry.
      operationId: deleteBatchCheck
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PollArg'
            examples:
              delete_batch/check:
                value:
                  async_job_id: 34g93hh34h04y384084
      responses:
        "200":
          description: delete_batch/check response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBatchResult'
              examples:
                delete_batch/check response:
                  value:
                    ".tag": complete
                    entries:
                    - ".tag": success
                      metadata:
                        ".tag": file
                        client_modified: 2015-05-12T15:50:38Z
                        content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        file_lock_info:
                          created: 2015-05-12T15:50:38Z
                          is_lockholder: true
                          lockholder_name: Imaginary User
                        has_explicit_shared_members: false
                        id: id:a4ayc_80_OEAAAAAAAAAXw
                        is_downloadable: true
                        name: Prime_Numbers.txt
                        path_display: /Homework/math/Prime_Numbers.txt
                        path_lower: /homework/math/prime_numbers.txt
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        rev: a1c10ce0dd78
                        server_modified: 2015-05-12T15:50:38Z
                        sharing_info:
                          modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          parent_shared_folder_id: "84528192421"
                          read_only: true
                        size: 7212
  /files/download:
    post:
      tags:
      - files
      summary: download
      description: |-
        [download](https://www.dropbox.com/developers/documentation/http/documentation#files-download)

        scope: `files.content.read`

        Download a file from a user's Dropbox.
      operationId: download
      parameters:
      - name: dropbox-api-arg
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: |-
            {
                "path": "/Homework/math/Prime_Numbers.txt"
            }
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      responses:
        "200":
          description: download response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
              examples:
                download response:
                  value:
                    client_modified: 2015-05-12T15:50:38Z
                    content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                    file_lock_info:
                      created: 2015-05-12T15:50:38Z
                      is_lockholder: true
                      lockholder_name: Imaginary User
                    has_explicit_shared_members: false
                    id: id:a4ayc_80_OEAAAAAAAAAXw
                    is_downloadable: true
                    name: Prime_Numbers.txt
                    path_display: /Homework/math/Prime_Numbers.txt
                    path_lower: /homework/math/prime_numbers.txt
                    property_groups:
                    - fields:
                      - name: Security Policy
                        value: Confidential
                      template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                    rev: a1c10ce0dd78
                    server_modified: 2015-05-12T15:50:38Z
                    sharing_info:
                      modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      parent_shared_folder_id: "84528192421"
                      read_only: true
                    size: 7212
  /files/download_zip:
    post:
      tags:
      - files
      summary: download_zip
      description: |-
        [download_zip](https://www.dropbox.com/developers/documentation/http/documentation#files-download_zip)

        scope: `files.content.read`

        Download a folder from the user's Dropbox, as a zip file. The folder must be less than 20 GB in size and have fewer than 10,000 total files. The input cannot be a single file. Any single file must be less than 4GB in size.
      operationId: downloadZip
      parameters:
      - name: dropbox-api-arg
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: |-
            {
                "path": "/Homework/math"
            }
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      responses:
        "200":
          description: download_zip response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderMetadataResponse'
              examples:
                download_zip response:
                  value:
                    metadata:
                      id: id:a4ayc_80_OEAAAAAAAAAXz
                      name: math
                      path_display: /Homework/math
                      path_lower: /homework/math
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      sharing_info:
                        no_access: false
                        parent_shared_folder_id: "84528192421"
                        read_only: false
                        traverse_only: false
  /files/export:
    post:
      tags:
      - files
      summary: export
      description: |-
        [export](https://www.dropbox.com/developers/documentation/http/documentation#files-export)

        scope: `files.content.read`

        Export a file from a user's Dropbox. This route only supports exporting files that cannot be downloaded directly  and whose `ExportResult.file_metadata` has `ExportInfo.export_as` populated.
      operationId: export
      parameters:
      - name: dropbox-api-arg
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: |-
            {
                "path": "/Homework/math/Prime_Numbers.gsheet"
            }
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      responses:
        "200":
          description: export response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
              examples:
                export response:
                  value:
                    export_metadata:
                      export_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      name: Prime_Numbers.xlsx
                      size: 7189
                    file_metadata:
                      client_modified: 2015-05-12T15:50:38Z
                      content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        created: 2015-05-12T15:50:38Z
                        is_lockholder: true
                        lockholder_name: Imaginary User
                      has_explicit_shared_members: false
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      is_downloadable: true
                      name: Prime_Numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      path_lower: /homework/math/prime_numbers.txt
                      property_groups:
                      - fields:
                        - name: Security Policy
                          value: Confidential
                        template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      rev: a1c10ce0dd78
                      server_modified: 2015-05-12T15:50:38Z
                      sharing_info:
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        parent_shared_folder_id: "84528192421"
                        read_only: true
                      size: 7212
  /files/get_file_lock_batch:
    post:
      tags:
      - files
      summary: get_file_lock_batch
      description: |-
        [get_file_lock_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-get_file_lock_batch)

        scope: `files.content.read`

        Return the lock metadata for the given list of paths.
      operationId: getFileLockBatch
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockFileBatchArg'
            examples:
              get_file_lock_batch:
                value:
                  entries:
                  - path: /John Doe/sample/test.pdf
      responses:
        "200":
          description: get_file_lock_batch response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockFileBatchResult'
              examples:
                get_file_lock_batch response:
                  value:
                    entries:
                    - ".tag": success
                      lock:
                        content:
                          ".tag": single_user
                          created: 2015-05-12T15:50:38Z
                          lock_holder_account_id: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          lock_holder_team_id: dbtid:1234abcd
                      metadata:
                        ".tag": file
                        client_modified: 2015-05-12T15:50:38Z
                        content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        file_lock_info:
                          created: 2015-05-12T15:50:38Z
                          is_lockholder: true
                          lockholder_name: Imaginary User
                        has_explicit_shared_members: false
                        id: id:a4ayc_80_OEAAAAAAAAAXw
                        is_downloadable: true
                        name: Prime_Numbers.txt
                        path_display: /Homework/math/Prime_Numbers.txt
                        path_lower: /homework/math/prime_numbers.txt
                        property_groups:
                        - fields:
                          - name: Security Policy
                            value: Confidential
                          template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        rev: a1c10ce0dd78
                        server_modified: 2015-05-12T15:50:38Z
                        sharing_info:
                          modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                          parent_shared_folder_id: "84528192421"
                          read_only: true
                        size: 7212
  /files/get_metadata:
    post:
      tags:
      - files
      summary: get_metadata
      description: |-
        [get_metadata](https://www.dropbox.com/developers/documentation/http/documentation#files-get_metadata)

        scope: `files.metadata.read`

        Returns the metadata for a file or folder.
        Note: Metadata for the root folder is unsupported.
      operationId: getMetadata
      parameters:
      - $ref: '#/components/parameters/DropboxApiPathRoot'
      - $ref: '#/components/parameters/DropboxApiSelectUser'
      - $ref: '#/components/parameters/DropboxApiSelectAdmin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMetadataArg'
            examples:
              get_metadata:
                value:
                  include_deleted: false
                  include_has_explicit_shared_members: false
                  include_media_info: false
                  path: /Homework/math
      responses:
        "200":
          description: get_metadata response
          headers:
            X-Dropbox-Request-Id:
              style: simple
              explode: false
              schema:
                type: string
                example: "1234"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
              examples:
                get_metadata response:
                  value:
                    ".tag": file
                    client_modified: 2015-05-12T15:50:38Z
                    content_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                    file_lock_info:
                      created: 2015-05-12T15:50:38Z
                      is_lockholder: true
                      lockholder_name: Imaginary User
                    has_explicit_shared_members: false
                    id: id:a4ayc_80_OEAAAAAAAAAXw
                    is_downloadable: true
                    name: Prime_Numbers.txt
                    path_display: /Homework/math/Prime_Numbers.txt
                    path_lower: /homework/math/prime_numbers.txt
                    property_groups:
                    - fields:
                      - name: Security Policy
[...]
