{
  "openapi": "3.0.3",
  "info": {
    "title": "Dropbox API Reference",
    "description": "The powerful, yet simple, Dropbox API allows you to manage and control content and team settings programmatically and extend Dropbox capabilities in new and powerful ways. This is a collection that includes requests to all endpoints in the Dropbox API. \n\nThe Dropbox API is divided in two groups of endpoints: User Endpoints and Business Endpoints. Operations that would most likely be executed by a user, such as file operations, are in the User Endpoints folder. Operations that would most likely be executed by a team administrator, such as adding users to groups, live in the Business Endpoints folder. \n\nIf you are new to Dropbox Business and Team Administration, please have a look at the [Dropobox Admin Guide](https://help.dropbox.com/guide/admin/how-to-get-started#dropbox-admin-guide). \n\nIf you want more information on how to use our API please refer to our [Developer Portal](https://www.dropbox.com/developers). \n\n# What's in the collection?\n\nThe endpoints are organized in the following folders:\n* account\n* auth\n* check\n* contacts\n* file_properties\n* file_requests\n* files\n* sharing\n* team\n* team_log\n* users\n\n# Authorization\n\n## OAuth 2.0 for API Access\nDropbox uses OAuth 2.0, an open specification, to authorize access to data. To get an OAuth token from Dropbox to enable Postman to access your Dropbox account via the API you’ll need to create a new app on the DBX Platform.\n\n## Creating an App on the DBX Platform\nNavigate to https://www.dropbox.com/developers/apps and select “Create app” \n1. Choose an API  \n2. Choose the type of access you need \n3. Give your app a name  \n4. Choose the Dropbox account that will own your app  \n\nFor reference, please use the [Dropbox OAuth guide](https://www.dropbox.com/lp/developers/reference/oauth-guide) \n\n## Generating an Access Token\nOnce you select “Create app” a page will load that displays information about your newly created app. To generate an access token scroll down to “OAuth 2” and click “Generate” beneath “Generated access token.” The token will display as a long string of characters. Copy this token for use with the Postman Collection.\n\n## Adding an Access Token to the requests\nIn the Postman client, click on the three dots to the right of the collection name to \"View more actions.\"\n\n![Screenshot of adding access token](https://www.dropbox.com/s/sfebu9ai76cbq39/Screen%20Shot%202020-10-28%20at%2012.50.56%20AM.png?raw=1)\n\nThen, click \"Edit.\"\n\nClick on the \"Variables\" tab and, in the row for the `access_token` variable, paste your access token in the `CURRENT VALUE` column. The default value is `your-access-token-here`.\n\n![Screenshot of adding access token](https://www.dropbox.com/s/ahnbxwe6oscjues/Screen%20Shot%202020-10-28%20at%2012.51.13%20AM.png?raw=1)\n\nFor information on sessions and variables in Postman see the blog post at https://blog.postman.com/sessions-faq/.\n\n# Notes\n* Dropbox also has a Postman Collection in the API Network to help administrators with team management workflows. It is called [Dropbox Team Admin Workflows](). \n\n",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.dropboxapi.com/2"
    },
    {
      "url": "https://content.dropboxapi.com/2"
    },
    {
      "url": "https://notify.dropboxapi.com/2"
    }
  ],
  "paths": {
    "/account/set_profile_photo": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "set_profile_photo",
        "description": "[set_profile_photo](https://www.dropbox.com/developers/documentation/http/documentation#account-set_profile_photo)\n\nscope: `account_info.write`\n\nSets a user's profile photo.",
        "operationId": "setProfilePhoto",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              },
              "examples": {
                "set_profile_photo": {
                  "value": {
                    "photo": {
                      ".tag": "base64_data",
                      "base64_data": "SW1hZ2UgZGF0YSBpbiBiYXNlNjQtZW5jb2RlZCBieXRlcy4gTm90IGEgdmFsaWQgZXhhbXBsZS4="
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "set_profile_photo response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile_photo_url": {
                      "type": "string",
                      "example": "https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128"
                    }
                  }
                },
                "examples": {
                  "set_profile_photo response": {
                    "value": {
                      "profile_photo_url": "https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/from_oauth1": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "token/from_oauth1",
        "description": "[token/from_oauth1](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-from_oauth1)\n\nscope: `None`\n\nCreates an OAuth 2.0 access token from the supplied OAuth 1.0 access token.",
        "operationId": "tokenFromOauth1",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oauth1_token": {
                    "type": "string",
                    "example": "qievr8hamyg6ndck"
                  },
                  "oauth1_token_secret": {
                    "type": "string",
                    "example": "qomoftv0472git7"
                  }
                }
              },
              "examples": {
                "token/from_oauth1": {
                  "value": {
                    "oauth1_token": "qievr8hamyg6ndck",
                    "oauth1_token_secret": "qomoftv0472git7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token/from_oauth1 response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "oauth2_token": {
                      "type": "string",
                      "example": "9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn"
                    }
                  }
                },
                "examples": {
                  "token/from_oauth1 response": {
                    "value": {
                      "oauth2_token": "9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "token/revoke",
        "description": "[token/revoke](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-revoke)\n\nscope: `None`\n\nDisables the access token used to authenticate the call.",
        "operationId": "tokenRevoke",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/check/app": {
      "post": {
        "tags": [
          "check"
        ],
        "summary": "app",
        "description": "[app](https://www.dropbox.com/developers/documentation/http/documentation#check-app)\n\nscope: `None`\n\nThis endpoint performs App Authentication, validating the supplied app key and secret, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the app key and secret valid.",
        "operationId": "app",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "foo"
                  }
                }
              },
              "examples": {
                "app": {
                  "value": {
                    "query": "foo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "app response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "foo"
                    }
                  }
                },
                "examples": {
                  "app response": {
                    "value": {
                      "result": "foo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/check/user": {
      "post": {
        "tags": [
          "check"
        ],
        "summary": "user",
        "description": "[user](https://www.dropbox.com/developers/documentation/http/documentation#check-user)\n\nscope: `None`\n\nThis endpoint performs User Authentication, validating the supplied access token, and returns the supplied string, to allow you to test your code and connection to the Dropbox API. It has no other effect. If you receive an HTTP 200 response with the supplied query, it indicates at least part of the Dropbox API infrastructure is working and that the access token is valid.",
        "operationId": "user",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "foo"
                  }
                }
              },
              "examples": {
                "user": {
                  "value": {
                    "query": "foo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "foo"
                    }
                  }
                },
                "examples": {
                  "user response": {
                    "value": {
                      "result": "foo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/delete_manual_contacts": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "delete_manual_contacts",
        "description": "[delete_manual_contacts](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts)\n\nscope: `contacts.write`\n\nRemoves all manually added contacts. You'll still keep contacts who are on your team or who you imported. New contacts will be added when you share.",
        "operationId": "deleteManualContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/contacts/delete_manual_contacts_batch": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "delete_manual_contacts_batch",
        "description": "[delete_manual_contacts_batch](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts_batch)\n\nscope: `contacts.write`\n\nRemoves manually added contacts from the given list.",
        "operationId": "deleteManualContactsBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "contactemailaddress1@domain.com"
                    },
                    "example": [
                      "contactemailaddress1@domain.com",
                      "contactemailaddress2@domain.com"
                    ]
                  }
                }
              },
              "examples": {
                "delete_manual_contacts_batch": {
                  "value": {
                    "email_addresses": [
                      "contactemailaddress1@domain.com",
                      "contactemailaddress2@domain.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/properties/add": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/add",
        "description": "[properties/add](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-add)\n\nscope: `files.metadata.write`\n\nAdd property groups to a Dropbox file. See `templates/add_for_user` or `templates/add_for_team` to create new templates.",
        "operationId": "propertiesAdd",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "example": "/my_awesome/word.docx"
                  },
                  "property_groups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Security Policy"
                              },
                              "value": {
                                "type": "string",
                                "example": "Confidential"
                              }
                            }
                          },
                          "example": [
                            {
                              "name": "Security Policy",
                              "value": "Confidential"
                            }
                          ]
                        },
                        "template_id": {
                          "type": "string",
                          "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                        }
                      }
                    },
                    "example": [
                      {
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "properties/add": {
                  "value": {
                    "path": "/my_awesome/word.docx",
                    "property_groups": [
                      {
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/properties/overwrite": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/overwrite",
        "description": "[properties/overwrite](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-overwrite)\n\nscope: `files.metadata.write`\n\nOverwrite property groups associated with a file. This endpoint should be used instead of `properties/update` when property groups are being updated via a \"snapshot\" instead of via a \"delta\". In other words, this endpoint will delete all omitted fields from a property group, whereas `properties/update` will only delete fields that are explicitly marked for deletion.",
        "operationId": "propertiesOverwrite",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "example": "/my_awesome/word.docx"
                  },
                  "property_groups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Security Policy"
                              },
                              "value": {
                                "type": "string",
                                "example": "Confidential"
                              }
                            }
                          },
                          "example": [
                            {
                              "name": "Security Policy",
                              "value": "Confidential"
                            }
                          ]
                        },
                        "template_id": {
                          "type": "string",
                          "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                        }
                      }
                    },
                    "example": [
                      {
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "properties/overwrite": {
                  "value": {
                    "path": "/my_awesome/word.docx",
                    "property_groups": [
                      {
                        "fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/properties/remove": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/remove",
        "description": "[properties/remove](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-remove)\n\nscope: `files.metadata.write`\n\nPermanently removes the specified property group from the file. To remove specific property field key value pairs, see `properties/update`. To update a template, see `templates/update_for_user` or `templates/update_for_team`. To remove a template, see `templates/remove_for_user` or `templates/remove_for_team`.",
        "operationId": "propertiesRemove",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "example": "/my_awesome/word.docx"
                  },
                  "property_template_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    },
                    "example": [
                      "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    ]
                  }
                }
              },
              "examples": {
                "properties/remove": {
                  "value": {
                    "path": "/my_awesome/word.docx",
                    "property_template_ids": [
                      "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/properties/search": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/search",
        "description": "[properties/search](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search)\n\nscope: `files.metadata.read`\n\nSearch across property templates for particular property field values.",
        "operationId": "propertiesSearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "queries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "logical_operator": {
                          "type": "string",
                          "example": "or_operator"
                        },
                        "mode": {
                          "type": "object",
                          "properties": {
                            ".tag": {
                              "type": "string",
                              "example": "field_name"
                            },
                            "field_name": {
                              "type": "string",
                              "example": "Security"
                            }
                          }
                        },
                        "query": {
                          "type": "string",
                          "example": "Confidential"
                        }
                      }
                    },
                    "example": [
                      {
                        "logical_operator": "or_operator",
                        "mode": {
                          ".tag": "field_name",
                          "field_name": "Security"
                        },
                        "query": "Confidential"
                      }
                    ]
                  },
                  "template_filter": {
                    "type": "string",
                    "example": "filter_none"
                  }
                }
              },
              "examples": {
                "properties/search": {
                  "value": {
                    "queries": [
                      {
                        "logical_operator": "or_operator",
                        "mode": {
                          ".tag": "field_name",
                          "field_name": "Security"
                        },
                        "query": "Confidential"
                      }
                    ],
                    "template_filter": "filter_none"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "properties/search response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "id:a4ayc_80_OEAAAAAAAAAXz"
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "example": false
                          },
                          "path": {
                            "type": "string",
                            "example": "/my_awesome/word.docx"
                          },
                          "property_groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "example": "Security Policy"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "Confidential"
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "name": "Security Policy",
                                      "value": "Confidential"
                                    }
                                  ]
                                },
                                "template_id": {
                                  "type": "string",
                                  "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                                }
                              }
                            },
                            "example": [
                              {
                                "fields": [
                                  {
                                    "name": "Security Policy",
                                    "value": "Confidential"
                                  }
                                ],
                                "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                              }
                            ]
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                          "is_deleted": false,
                          "path": "/my_awesome/word.docx",
                          "property_groups": [
                            {
                              "fields": [
                                {
                                  "name": "Security Policy",
                                  "value": "Confidential"
                                }
                              ],
                              "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "properties/search response": {
                    "value": {
                      "matches": [
                        {
                          "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                          "is_deleted": false,
                          "path": "/my_awesome/word.docx",
                          "property_groups": [
                            {
                              "fields": [
                                {
                                  "name": "Security Policy",
                                  "value": "Confidential"
                                }
                              ],
                              "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_properties/properties/search/continue": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/search/continue",
        "description": "[properties/search/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search-continue)\n\nscope: `files.metadata.read`\n\nOnce a cursor has been retrieved from `properties/search`, use this to paginate through all search results.",
        "operationId": "propertiesSearchContinue",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "example": "ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu"
                  }
                }
              },
              "examples": {
                "properties/search/continue": {
                  "value": {
                    "cursor": "ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "properties/search/continue response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "id:a4ayc_80_OEAAAAAAAAAXz"
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "example": false
                          },
                          "path": {
                            "type": "string",
                            "example": "/my_awesome/word.docx"
                          },
                          "property_groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "example": "Security Policy"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "Confidential"
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "name": "Security Policy",
                                      "value": "Confidential"
                                    }
                                  ]
                                },
                                "template_id": {
                                  "type": "string",
                                  "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                                }
                              }
                            },
                            "example": [
                              {
                                "fields": [
                                  {
                                    "name": "Security Policy",
                                    "value": "Confidential"
                                  }
                                ],
                                "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                              }
                            ]
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                          "is_deleted": false,
                          "path": "/my_awesome/word.docx",
                          "property_groups": [
                            {
                              "fields": [
                                {
                                  "name": "Security Policy",
                                  "value": "Confidential"
                                }
                              ],
                              "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "properties/search/continue response": {
                    "value": {
                      "matches": [
                        {
                          "id": "id:a4ayc_80_OEAAAAAAAAAXz",
                          "is_deleted": false,
                          "path": "/my_awesome/word.docx",
                          "property_groups": [
                            {
                              "fields": [
                                {
                                  "name": "Security Policy",
                                  "value": "Confidential"
                                }
                              ],
                              "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_properties/properties/update": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "properties/update",
        "description": "[properties/update](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-update)\n\nscope: `files.metadata.write`\n\nAdd, update or remove properties associated with the supplied file and templates. This endpoint should be used instead of `properties/overwrite` when property groups are being updated via a \"delta\" instead of via a \"snapshot\" . In other words, this endpoint will not delete any omitted fields from a property group, whereas `properties/overwrite` will delete any fields that are omitted from a property group.",
        "operationId": "propertiesUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "example": "/my_awesome/word.docx"
                  },
                  "update_property_groups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "add_or_update_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Security Policy"
                              },
                              "value": {
                                "type": "string",
                                "example": "Confidential"
                              }
                            }
                          },
                          "example": [
                            {
                              "name": "Security Policy",
                              "value": "Confidential"
                            }
                          ]
                        },
                        "remove_fields": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "template_id": {
                          "type": "string",
                          "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                        }
                      }
                    },
                    "example": [
                      {
                        "add_or_update_fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "remove_fields": [],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "properties/update": {
                  "value": {
                    "path": "/my_awesome/word.docx",
                    "update_property_groups": [
                      {
                        "add_or_update_fields": [
                          {
                            "name": "Security Policy",
                            "value": "Confidential"
                          }
                        ],
                        "remove_fields": [],
                        "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/templates/add_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/add_for_team",
        "description": "[templates/add_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-add_for_team)\n\nscope: `files.team_metadata.write`\n\nAdd a template associated with a team. See `properties/add` to add properties to a file or folder.\nNote: this endpoint will create team-owned templates.",
        "operationId": "templatesAddForTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "These properties describe how confidential this file or folder is."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                        },
                        "name": {
                          "type": "string",
                          "example": "Security Policy"
                        },
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ]
                  },
                  "name": {
                    "type": "string",
                    "example": "Security"
                  }
                }
              },
              "examples": {
                "templates/add_for_team": {
                  "value": {
                    "description": "These properties describe how confidential this file or folder is.",
                    "fields": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ],
                    "name": "Security"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/add_for_team response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_id": {
                      "type": "string",
                      "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                },
                "examples": {
                  "templates/add_for_team response": {
                    "value": {
                      "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/file_properties/templates/add_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/add_for_user",
        "description": "[templates/add_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-add_for_user)\n\nscope: `files.metadata.write`\n\nAdd a template associated with a user. See `properties/add` to add properties to a file. This endpoint can't be called on a team member or admin's behalf.",
        "operationId": "templatesAddForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "These properties describe how confidential this file or folder is."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                        },
                        "name": {
                          "type": "string",
                          "example": "Security Policy"
                        },
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ]
                  },
                  "name": {
                    "type": "string",
                    "example": "Security"
                  }
                }
              },
              "examples": {
                "templates/add_for_user": {
                  "value": {
                    "description": "These properties describe how confidential this file or folder is.",
                    "fields": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ],
                    "name": "Security"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/add_for_user response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_id": {
                      "type": "string",
                      "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                },
                "examples": {
                  "templates/add_for_user response": {
                    "value": {
                      "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_properties/templates/get_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/get_for_team",
        "description": "[templates/get_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-get_for_team)\n\nscope: `files.team_metadata.write`\n\nGet the schema for a specified template.",
        "operationId": "templatesGetForTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/get_for_team": {
                  "value": {
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/get_for_team response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "These properties describe how confidential this file or folder is."
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                          },
                          "name": {
                            "type": "string",
                            "example": "Security Policy"
                          },
                          "type": {
                            "type": "object",
                            "properties": {
                              ".tag": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      },
                      "example": [
                        {
                          "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                          "name": "Security Policy",
                          "type": {
                            ".tag": "string"
                          }
                        }
                      ]
                    },
                    "name": {
                      "type": "string",
                      "example": "Security"
                    }
                  }
                },
                "examples": {
                  "templates/get_for_team response": {
                    "value": {
                      "description": "These properties describe how confidential this file or folder is.",
                      "fields": [
                        {
                          "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                          "name": "Security Policy",
                          "type": {
                            ".tag": "string"
                          }
                        }
                      ],
                      "name": "Security"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/file_properties/templates/get_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/get_for_user",
        "description": "[templates/get_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-get_for_user)\n\nscope: `files.metadata.read`\n\nGet the schema for a specified template. This endpoint can't be called on a team member or admin's behalf.",
        "operationId": "templatesGetForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/get_for_user": {
                  "value": {
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/get_for_user response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "example": "These properties describe how confidential this file or folder is."
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                          },
                          "name": {
                            "type": "string",
                            "example": "Security Policy"
                          },
                          "type": {
                            "type": "object",
                            "properties": {
                              ".tag": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      },
                      "example": [
                        {
                          "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                          "name": "Security Policy",
                          "type": {
                            ".tag": "string"
                          }
                        }
                      ]
                    },
                    "name": {
                      "type": "string",
                      "example": "Security"
                    }
                  }
                },
                "examples": {
                  "templates/get_for_user response": {
                    "value": {
                      "description": "These properties describe how confidential this file or folder is.",
                      "fields": [
                        {
                          "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                          "name": "Security Policy",
                          "type": {
                            ".tag": "string"
                          }
                        }
                      ],
                      "name": "Security"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_properties/templates/list_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/list_for_team",
        "description": "[templates/list_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-list_for_team)\n\nscope: `files.team_metadata.write`\n\nGet the template identifiers for a team. To get the schema of each template use `templates/get_for_team`.",
        "operationId": "templatesListForTeam",
        "responses": {
          "200": {
            "description": "templates/list_for_team response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      },
                      "example": [
                        "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      ]
                    }
                  }
                },
                "examples": {
                  "templates/list_for_team response": {
                    "value": {
                      "template_ids": [
                        "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/file_properties/templates/list_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/list_for_user",
        "description": "[templates/list_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-list_for_user)\n\nscope: `files.metadata.read`\n\nGet the template identifiers for a team. To get the schema of each template use `templates/get_for_user`. This endpoint can't be called on a team member or admin's behalf.",
        "operationId": "templatesListForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "responses": {
          "200": {
            "description": "templates/list_for_user response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      },
                      "example": [
                        "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      ]
                    }
                  }
                },
                "examples": {
                  "templates/list_for_user response": {
                    "value": {
                      "template_ids": [
                        "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_properties/templates/remove_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/remove_for_team",
        "description": "[templates/remove_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-remove_for_team)\n\nscope: `files.team_metadata.write`\n\nPermanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.",
        "operationId": "templatesRemoveForTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/remove_for_team": {
                  "value": {
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/file_properties/templates/remove_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/remove_for_user",
        "description": "[templates/remove_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-remove_for_user)\n\nscope: `files.metadata.write`\n\nPermanently removes the specified template created from `templates/add_for_user`. All properties associated with the template will also be removed. This action cannot be undone.",
        "operationId": "templatesRemoveForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/remove_for_user": {
                  "value": {
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/file_properties/templates/update_for_team": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/update_for_team",
        "description": "[templates/update_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-update_for_team)\n\nscope: `files.team_metadata.write`\n\nUpdate a template associated with a team. This route can update the template name, the template description and add optional properties to templates.",
        "operationId": "templatesUpdateForTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "add_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                        },
                        "name": {
                          "type": "string",
                          "example": "Security Policy"
                        },
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ]
                  },
                  "description": {
                    "type": "string",
                    "example": "These properties will describe how confidential this file or folder is."
                  },
                  "name": {
                    "type": "string",
                    "example": "New Security Template Name"
                  },
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/update_for_team": {
                  "value": {
                    "add_fields": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ],
                    "description": "These properties will describe how confidential this file or folder is.",
                    "name": "New Security Template Name",
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/update_for_team response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_id": {
                      "type": "string",
                      "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                },
                "examples": {
                  "templates/update_for_team response": {
                    "value": {
                      "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/file_properties/templates/update_for_user": {
      "post": {
        "tags": [
          "file_properties"
        ],
        "summary": "templates/update_for_user",
        "description": "[templates/update_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-update_for_user)\n\nscope: `files.metadata.write`\n\nUpdate a template associated with a user. This route can update the template name, the template description and add optional properties to templates. This endpoint can't be called on a team member or admin's behalf.",
        "operationId": "templatesUpdateForUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "add_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal."
                        },
                        "name": {
                          "type": "string",
                          "example": "Security Policy"
                        },
                        "type": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ]
                  },
                  "description": {
                    "type": "string",
                    "example": "These properties will describe how confidential this file or folder is."
                  },
                  "name": {
                    "type": "string",
                    "example": "New Security Template Name"
                  },
                  "template_id": {
                    "type": "string",
                    "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              },
              "examples": {
                "templates/update_for_user": {
                  "value": {
                    "add_fields": [
                      {
                        "description": "This is the security policy of the file or folder described.\nPolicies can be Confidential, Public or Internal.",
                        "name": "Security Policy",
                        "type": "string"
                      }
                    ],
                    "description": "These properties will describe how confidential this file or folder is.",
                    "name": "New Security Template Name",
                    "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "templates/update_for_user response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template_id": {
                      "type": "string",
                      "example": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                },
                "examples": {
                  "templates/update_for_user response": {
                    "value": {
                      "template_id": "ptid:1a5n2i6d3OYEAAAAAAAAAYa"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_requests/count": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "count",
        "description": "[count](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-count)\n\nscope: `file_requests.read`\n\nReturns the total number of file requests owned by this user. Includes both open and closed file requests.",
        "operationId": "count",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "responses": {
          "200": {
            "description": "count response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_request_count": {
                      "type": "number",
                      "example": 15
                    }
                  }
                },
                "examples": {
                  "count response": {
                    "value": {
                      "file_request_count": 15
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_requests/create": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "create",
        "description": "[create](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-create)\n\nscope: `file_requests.write`\n\nCreates a file request for this user.",
        "operationId": "create",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deadline": {
                    "type": "object",
                    "properties": {
                      "allow_late_uploads": {
                        "type": "string",
                        "example": "seven_days"
                      },
                      "deadline": {
                        "type": "string",
                        "example": "2020-10-12T17:00:00Z"
                      }
                    }
                  },
                  "destination": {
                    "type": "string",
                    "example": "/File Requests/Homework"
                  },
                  "open": {
                    "type": "boolean",
                    "example": true
                  },
                  "title": {
                    "type": "string",
                    "example": "Homework submission"
                  }
                }
              },
              "examples": {
                "create": {
                  "value": {
                    "deadline": {
                      "allow_late_uploads": "seven_days",
                      "deadline": "2020-10-12T17:00:00Z"
                    },
                    "destination": "/File Requests/Homework",
                    "open": true,
                    "title": "Homework submission"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "create response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "string",
                      "example": "2015-10-05T17:00:00Z"
                    },
                    "deadline": {
                      "type": "object",
                      "properties": {
                        "allow_late_uploads": {
                          "type": "object",
                          "properties": {
                            ".tag": {
                              "type": "string",
                              "example": "seven_days"
                            }
                          }
                        },
                        "deadline": {
                          "type": "string",
                          "example": "2020-10-12T17:00:00Z"
                        }
                      }
                    },
                    "destination": {
                      "type": "string",
                      "example": "/File Requests/Homework"
                    },
                    "file_count": {
                      "type": "number",
                      "example": 3
                    },
                    "id": {
                      "type": "string",
                      "example": "oaCAVmEyrqYnkZX9955Y"
                    },
                    "is_open": {
                      "type": "boolean",
                      "example": true
                    },
                    "title": {
                      "type": "string",
                      "example": "Homework submission"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                    }
                  }
                },
                "examples": {
                  "create response": {
                    "value": {
                      "created": "2015-10-05T17:00:00Z",
                      "deadline": {
                        "allow_late_uploads": {
                          ".tag": "seven_days"
                        },
                        "deadline": "2020-10-12T17:00:00Z"
                      },
                      "destination": "/File Requests/Homework",
                      "file_count": 3,
                      "id": "oaCAVmEyrqYnkZX9955Y",
                      "is_open": true,
                      "title": "Homework submission",
                      "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_requests/delete": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "delete",
        "description": "[delete](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete)\n\nscope: `file_requests.write`\n\nDelete a batch of closed file requests.",
        "operationId": "delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "oaCAVmEyrqYnkZX9955Y"
                    },
                    "example": [
                      "oaCAVmEyrqYnkZX9955Y",
                      "BaZmehYoXMPtaRmfTbSG"
                    ]
                  }
                }
              },
              "examples": {
                "delete": {
                  "value": {
                    "ids": [
                      "oaCAVmEyrqYnkZX9955Y",
                      "BaZmehYoXMPtaRmfTbSG"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "delete response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "example": "2015-10-05T17:00:00Z"
                          },
                          "deadline": {
                            "type": "object",
                            "properties": {
                              "allow_late_uploads": {
                                "type": "object",
                                "properties": {
                                  ".tag": {
                                    "type": "string",
                                    "example": "seven_days"
                                  }
                                }
                              },
                              "deadline": {
                                "type": "string",
                                "example": "2020-10-12T17:00:00Z"
                              }
                            }
                          },
                          "destination": {
                            "type": "string",
                            "example": "/File Requests/Homework"
                          },
                          "file_count": {
                            "type": "number",
                            "example": 3
                          },
                          "id": {
                            "type": "string",
                            "example": "oaCAVmEyrqYnkZX9955Y"
                          },
                          "is_open": {
                            "type": "boolean",
                            "example": true
                          },
                          "title": {
                            "type": "string",
                            "example": "Homework submission"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                          }
                        }
                      },
                      "example": [
                        {
                          "created": "2015-10-05T17:00:00Z",
                          "deadline": {
                            "allow_late_uploads": {
                              ".tag": "seven_days"
                            },
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/File Requests/Homework",
                          "file_count": 3,
                          "id": "oaCAVmEyrqYnkZX9955Y",
                          "is_open": true,
                          "title": "Homework submission",
                          "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                        },
                        {
                          "created": "2015-11-02T04:00:00Z",
                          "deadline": {
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/Photo contest entries",
                          "file_count": 105,
                          "id": "BAJ7IrRGicQKGToykQdB",
                          "is_open": true,
                          "title": "Photo contest submission",
                          "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB"
                        },
                        {
                          "created": "2015-12-15T13:02:00Z",
                          "destination": "/Wedding photos",
                          "file_count": 37,
                          "id": "rxwMPvK3ATTa0VxOJu5T",
                          "is_open": true,
                          "title": "Wedding photo submission",
                          "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "delete response": {
                    "value": {
                      "file_requests": [
                        {
                          "created": "2015-10-05T17:00:00Z",
                          "deadline": {
                            "allow_late_uploads": {
                              ".tag": "seven_days"
                            },
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/File Requests/Homework",
                          "file_count": 3,
                          "id": "oaCAVmEyrqYnkZX9955Y",
                          "is_open": true,
                          "title": "Homework submission",
                          "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                        },
                        {
                          "created": "2015-11-02T04:00:00Z",
                          "deadline": {
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/Photo contest entries",
                          "file_count": 105,
                          "id": "BAJ7IrRGicQKGToykQdB",
                          "is_open": true,
                          "title": "Photo contest submission",
                          "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB"
                        },
                        {
                          "created": "2015-12-15T13:02:00Z",
                          "destination": "/Wedding photos",
                          "file_count": 37,
                          "id": "rxwMPvK3ATTa0VxOJu5T",
                          "is_open": true,
                          "title": "Wedding photo submission",
                          "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/file_requests/delete_all_closed": {
      "post": {
        "tags": [
          "file_requests"
        ],
        "summary": "delete_all_closed",
        "description": "[delete_all_closed](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete_all_closed)\n\nscope: `file_requests.write`\n\nDelete all closed file requests owned by this user.",
        "operationId": "deleteAllClosed",
        "parameters": [
          {
            "$ref": "#/components/parameters/DropboxApiPathRoot"
          },
          {
            "$ref": "#/components/parameters/DropboxApiSelectUser"
          }
        ],
        "responses": {
          "200": {
            "description": "delete_all_closed response",
            "headers": {
              "X-Dropbox-Request-Id": {
                "schema": {
                  "type": "string",
                  "example": "1234"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "example": "2015-10-05T17:00:00Z"
                          },
                          "deadline": {
                            "type": "object",
                            "properties": {
                              "allow_late_uploads": {
                                "type": "object",
                                "properties": {
                                  ".tag": {
                                    "type": "string",
                                    "example": "seven_days"
                                  }
                                }
                              },
                              "deadline": {
                                "type": "string",
                                "example": "2020-10-12T17:00:00Z"
                              }
                            }
                          },
                          "destination": {
                            "type": "string",
                            "example": "/File Requests/Homework"
                          },
                          "file_count": {
                            "type": "number",
                            "example": 3
                          },
                          "id": {
                            "type": "string",
                            "example": "oaCAVmEyrqYnkZX9955Y"
                          },
                          "is_open": {
                            "type": "boolean",
                            "example": true
                          },
                          "title": {
                            "type": "string",
                            "example": "Homework submission"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                          }
                        }
                      },
                      "example": [
                        {
                          "created": "2015-10-05T17:00:00Z",
                          "deadline": {
                            "allow_late_uploads": {
                              ".tag": "seven_days"
                            },
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/File Requests/Homework",
                          "file_count": 3,
                          "id": "oaCAVmEyrqYnkZX9955Y",
                          "is_open": true,
                          "title": "Homework submission",
                          "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                        },
                        {
                          "created": "2015-11-02T04:00:00Z",
                          "deadline": {
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/Photo contest entries",
                          "file_count": 105,
                          "id": "BAJ7IrRGicQKGToykQdB",
                          "is_open": true,
                          "title": "Photo contest submission",
                          "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB"
                        },
                        {
                          "created": "2015-12-15T13:02:00Z",
                          "destination": "/Wedding photos",
                          "file_count": 37,
                          "id": "rxwMPvK3ATTa0VxOJu5T",
                          "is_open": true,
                          "title": "Wedding photo submission",
                          "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "delete_all_closed response": {
                    "value": {
                      "file_requests": [
                        {
                          "created": "2015-10-05T17:00:00Z",
                          "deadline": {
                            "allow_late_uploads": {
                              ".tag": "seven_days"
                            },
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/File Requests/Homework",
                          "file_count": 3,
                          "id": "oaCAVmEyrqYnkZX9955Y",
                          "is_open": true,
                          "title": "Homework submission",
                          "url": "https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y"
                        },
                        {
                          "created": "2015-11-02T04:00:00Z",
                          "deadline": {
                            "deadline": "2020-10-12T17:00:00Z"
                          },
                          "destination": "/Photo contest entries",
                          "file_count": 105,
                          "id": "BAJ7IrRGicQKGToykQdB",
                          "is_open": true,
                          "title": "Photo contest submission",
                          "url": "https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB"
                        },
                        {
                          "created": "2015-12-15T13:02:00Z",
                          "destination": "/Wedding photos",
                          "file_count": 37,
                          "id": "rxwMPvK3ATTa0VxOJu5T",
                          "is_open": true,
                          "title": "Wedding photo submission",
                          "url": "https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
[...]
